*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}

header{
	margin:150px auto;
	width:1200px;
	height:230px;
	background-color: white;
}

div.contenedor{
	width: 171px;
	hei1ht: 230px;
	float:left;
	-webkit-transition: height .4s;
}

div#uno{
	background-color: #0ED518;
}

div#dos{
	background-color: #0BB013;
}

div#tres{
	background-color: #07820D;
}

div#cuatro{
	background-color: #0D6611;
}

div#cinco{
	background-color: #07820D;
}

div#seis{
	background-color: #0BB013;
}

div#siete{
	background-color: #0ED518;
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-weight:bold;
	font-size: 1.2em;
	color:black;
	text-align: center;
	padding-top:5px;
	padding-bottom: 25px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	cursor: pointer;
	height:250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}










































































