body{
	background-color: black;
}

.container{
	margin-top: 2%;
}

h1, a, label{
	color: white;
}

.header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }