#imagen{
	width: 100%;
	height: 620px;
}

#listaMenu {
	padding: 0;
	position: fixed;
	/*z-index: 100;*/
}
#listaMenu li {	
	display: inline;
}

#listaMenu li a {
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #4ED733;
	color: #fff;
}

#listaMenu li a:hover {
	color: black;
	background-color: #A0F28F;
	margin-top:-2px;
	padding-bottom:12px;
}

